<center>
  <form method = "POST">
      <label>Insert Quantity of soup (RM2 each): </label>
      <input type="number" name="soup" min="0" max="99" value="0">
      <br />
      <label>Insert Insert Quantity of salad (RM 3 each): </label>
      <input type="number" name="salad" min="0" max="99" value="0">
      <br />
      <label>Insert Insert Quantity of coffee (RM 2 each): </label>
      <input type="number" name="coffee" min="0" max="99" value="0">
      <br />
      <label>Insert Insert Quantity of water (RM 1 each): </label>
      <input type="number" name="water" min="0" max="99" value="0">
      <br/r>
      <input type="submit">
      <br />
      <label>{{ href2 }} </lebel>
   </form>
 </center>
 
